.txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form {
  margin-top: 300px;
}

html {
  scroll-behavior: smooth;
}

.socials__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
}

.socials__link {
  cursor: pointer;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus .socials__icon {
  fill: #ab816c;
}

.button {
  background-color: #ab816c;
  border-radius: 25px;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #ffffff;
  width: 145px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button__link {
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  background-color: #2e2520;
  color: #ab816c;
}

.price__cards {
  width: 280px;
  height: 340px;
}
@media screen and (min-width: 768px) {
  .price__cards {
    height: 580px;
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
}

.price__card {
  padding: 20px 20px;
  background: #fef3e4;
  border-radius: 40px;
}
@media screen and (min-width: 768px) {
  .price__card {
    padding-right: 0;
  }
}

.price__card:not(:last-child) {
  margin-bottom: 16px;
}

.price__name {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #2e2520;
}

.price__desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2e2520;
}

.price__item:last-child {
  margin-bottom: 32px;
}

.price__item:not(:last-child) {
  margin-bottom: 12px;
}

.registration {
  background-color: antiquewhite;
}

.container {
  background-color: teal;
}

.form {
  height: 436px;
  width: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 7px;
  background-color: #fffff9;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  width: 280px;
}

.registration__data {
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  flex-wrap: wrap;
  color: #2e2520;
}

.registration__description {
  position: relative;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2e2520;
}
.registration__description::before {
  content: "";
  border: 1px solid rgba(171, 129, 108, 0.5);
  position: absolute;
  top: -20%;
  left: 0;
  display: block;
  width: 264px;
  margin-bottom: 8px;
}

.registration__button {
  margin-left: auto;
  margin-right: auto;
}

.form__input {
  margin-bottom: 22px;
  width: 100%;
  color: rgba(171, 129, 108, 0.5);
  border-bottom: 1px solid #ab816c;
  border-right: none;
  border-left: none;
  border-top: none;
}

.form__input:last-child {
  margin-bottom: 32px;
}

.form__label {
  cursor: none;
}

.form__input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: rgba(171, 129, 108, 0.5);
}

.form__input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: rgba(171, 129, 108, 0.5);
}

.form__input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: rgba(171, 129, 108, 0.5);
}/*# sourceMappingURL=main.css.map */